<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2 class="page-title txt-color-blueDark" id="osy-title"><i class="fa-fw fa fa-home"></i> Model File <span>>
                view equations</span></h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5> Selected Model: <span class="txt-color-blue" id="osy-case"></span></h5>
            </li>
        </ul>
    </div>
</div>


<div class="container-fluid mt-4">
    
    <h3>Model Equations</h3>
    <div id="equations"></div>

</div>


<style>
  /* tanka linija poslije svake formule */
  /* .eq-sep {
    border: 0;
    border-top: 1px solid #cfcfcf;
    margin: 0.5rem 0 1.25rem 0;
  }

  .section-sep {
    border: 0;
    border-top: 2px solid #9a9a9a;
    margin: 1rem 0 1.5rem 0;
  }
  
  .math-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 8px;
      margin-bottom: 8px;
      max-width: 100%;
  } */



.section-sep {
  border: 0;
  border-top: 2px solid #999;
  margin: 16px 0;
}
.eq-sep {
  border: 0;
  border-top: 1px dashed #ddd;
  margin-top: 8px;
}
.math-wrapper {
  overflow-x: auto; /* u slučaju dužih izraza */
   overflow-y: hidden;
}

</style>
